* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(240, 70, 58, 0.15) 1px, transparent 1px), linear-gradient(to right, rgba(240, 70, 58, 0.15) 1px, transparent 1px);
    background-size: 20px 20px;
    background-color: #f9f9f9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 4rem;
}


.board {
    background-color: #ef473a;
    width: 588px;
    height: 588px;
    border: 6px solid #f5f5f5;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 2rem;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
}

.grid {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 512px;
    height: 512px;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
}

.grid>div {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 32px;
    height: 32px;
}

.control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 2rem 2rem;
    border-radius: 1rem;
    background-color: #f5f5f5;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);

    h3 {
        font-size: 1.5rem;
        color: #ef473a;
        align-self: center;
        margin-bottom: 2rem;
    }

    .buttons {
        display: flex;
        gap: .5rem;
    }

    .slider {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        display: flex;
        justify-content: flex-start;
        gap: .5rem;
        margin-bottom: 2rem;
    }

    button {
        background-color: transparent;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #ef473a;
        border: 2px solid #ef473a;
        border-radius: 8px;
        font-size: 1rem;
        padding: .5rem 1rem;
        cursor: pointer;
        transition: all .2s ease;

        &:hover {
            color: white;
            background-color: #ef473a;
        }
    }

    #clearBtn {
        align-self: flex-start;
        background-color: #ef473a;
        color: white;
        padding: .5rem 2rem;

        &:hover {
            background-color: #c52f25;
            border: 2px solid #c52f25;
        }
    }
}